{% extends 'flights/base.html' %}
{% block title %}Детали рейса{% endblock %}
{% block content %}
<div class="card shadow-lg p-4">
    {% if passenger %}
    <h2 class="text-center">Рейсы {{ passenger.first_name }}</h2>
    {% else %}
    <h2 class="text-center" style="color: red;">У вас пока нет полетов</h2>
    {% endif %}

    {% for flight in flights %}
    <div class="col-md-4">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ flight.origin }} → ({{ flight.destination }}) </h5>
                <p class="text-muted text-center">Длительность: <strong>{{ flight.duration }} минут</strong></p>
                <a href="{% url 'flight_detail' flight.id %}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}

    <a href="/" class="btn btn-outline-primary">Назад</a>
</div>
{% endblock %}
